:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: rgb(169, 216, 255);
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.container {
  background-color: rgb(255, 255, 255);
  align-items: center;
  width: 50%;
  margin: 0 auto;
  width: 500px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}


.addBar input {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(174, 174, 174);
  margin-right: 10px;
}

.addBar button {
  padding: 12px;
  color: whitesmoke;
  font-weight: bolder;
  background-color: rgb(106, 106, 255);
  border-radius: 10px;
  border: none;
}

.todo-item {
  display: flex;
  width: 310px;
  align-items: center;
  gap: 10px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(200, 200, 200);
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.todo-item:hover {
  transform: scale(1.02);
}

.delete-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
}

.delete-btn:hover {
  color: darkred;
  transform: scale(1.2);
}

.todo-item.checked {
  background-color: #d1d1d1;
}

.todo-item.checked span {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}